nav {
  display: flex;
  justify-content: space-around;
}
.menu {
  z-index: 5;
  display: flex;
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu li {
  list-style: none;
}
.menu ul {
  padding: 0;
  position: absolute;
}
.menu a {
  font-family: "Exo 2";
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #bc9263;
  text-decoration: none;
}
.cabmenu,
.second {
  background-color: rgb(49%, 37%, 25%, 0.7);
  border: 0.5px solid #ffffff;
  box-shadow: 5px -3px 0px 0px rgba(254, 254, 254, 0.3);
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: top;
  transition: 500ms;
}
.cabmenu {
  opacity: 0;
}
.cabmenu li {
  padding: 3px 0px 1px 5px;
}
.second {
  opacity: 0;
  margin-top: -24px;
  margin-left: 170px;
  min-width: max-content;
}
.border_animation {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.border_animation:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#bc9263, #a67c7c);
  animation: animate 3.5s linear infinite;
  z-index: -1;
}
.border_animation:after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: rgb(38, 29, 21);
  z-index: -1;
  border-radius: 20px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
.menu li {
  z-index: 1;
}
.menu li:hover .cabmenu,
.cabmenu li:hover .second {
  transform: scaleY(1);
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.cabmenu li:hover {
  transition: 500ms;
  background: #bf9a9a;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .menu {
    white-space: nowrap;
    justify-content: normal;
  }
  .menu li {
    margin-right: 10px;
    margin-left: 10px;
  }
}
/* omly tablet */
@media (max-width: 768px) {
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -15px;
    left: 8%;
    border-radius: 5px;
    padding: 20px 5px 20px 15px;
    border: 0.5px solid #ffffff;
    border-radius: 10px;
    transform-origin: top;
    transition: 500ms;
    transform: translateX(150%);
    opacity: 0;
  }
  .active-menu {
    transform: translateX(0%);
    transition: 500ms;
    opacity: 1;
  }
  .menu a {
    padding: 2px;
    color: rgb(38, 29, 21);
    background: none;
    font-size: 24px;
    font-weight: bold;
  }
  .menu li:hover {
    transition: 500ms;
    background: #bf9a9a;
    border-radius: 5px;
  }
  .menu,
  .second,
  .cabmenu {
    box-shadow: none;
    background-color: rgb(49%, 37%, 25%, 0.9);
  }
  .cabmenu {
    left: 100%;
  }
  .second {
    left: 14%;
  }
  .border_animation:hover:before {
    display: none;
  }
  .border_animation:after {
    display: none;
  }
  .nav-mobile-menu {
    top: 65px;
    left: -95px;
    border: 1px solid rgba(254, 254, 254, 0.44);
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    position: relative;
  }
  .nav-mobile-menu span {
    height: 2px;
    background-color: rgba(254, 254, 254, 0.44);
    position: absolute;
    left: 0;
    right: 0;
  }
  .nav-mobile-menu span:first-child {
    top: 7px;
    width: 15px;
    margin: 0 auto;
    transition: 500ms;
  }
  .nav-mobile-menu span:nth-child(2) {
    top: 12px;
    width: 15px;
    margin: 0 auto;
  }
  .nav-mobile-menu span:last-child {
    bottom: 9px;
    width: 15px;
    margin: 0 auto;
    transition: 500ms;
  }
  .nav-mobile-menu.active-nuv span:first-child {
    top: 50%;
    transform: rotate(45deg);
    transition: 500ms;
  }
  .nav-mobile-menu.active-nuv span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
    transition: 500ms;
  }
  .nav-mobile-menu.active-nuv span:last-child {
    transform: scale(0);
  }
}
/* only mobile*/
@media (max-width: 550px) {
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -50px;
    left: 50%;
    border-radius: 5px;
    padding: 20px 5px 20px 15px;
    border: 0.5px solid #ffffff;
    border-radius: 10px;
    transform-origin: top;
    transition: 500ms;
    transform: translateX(150%);
    opacity: 0;
    display: none;
  }
  .active-menu {
    transform: translateX(0%);
    transition: 500ms;
    opacity: 1;
    display: block;
  }
  .menu a {
    padding: 2px;
    color: rgb(38, 29, 21);
    background: none;
    font-size: 24px;
    font-weight: bold;
  }
  .menu li:hover {
    transition: 500ms;
    background: #bf9a9a;
    border-radius: 5px;
  }
  .menu,
  .second,
  .cabmenu {
    box-shadow: none;
    background-color: rgb(49%, 37%, 25%, 0.9);
  }
  .cabmenu {
    left: -105%;
  }
  .second {
    right: 14%;
    top: 85%;
  }
  .border_animation:hover:before {
    display: none;
  }
  .border_animation:after {
    display: none;
  }

  .nav-mobile-menu {
    position: absolute;
    padding-right: 15px;
    top: 0px;
    left: 350px;
    border: 1px solid rgba(254, 254, 254, 0.44);
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 10;
  }
  .nav-mobile-menu span {
    height: 2px;
    background-color: rgba(254, 254, 254, 0.44);
    position: absolute;
    left: 0;
    right: 0;
  }
  .nav-mobile-menu span:first-child {
    top: 7px;
    width: 15px;
    margin: 0 auto;
  }
  .nav-mobile-menu span:nth-child(2) {
    top: 12px;
    width: 15px;
    margin: 0 auto;
  }
  .nav-mobile-menu span:last-child {
    bottom: 9px;
    width: 15px;
    margin: 0 auto;
  }
  .nav-mobile-menu.active-nuv span:first-child {
    top: 50%;
    transform: rotate(45deg);
    transition: 500ms;
    background-color: rgba(254, 254, 254, 1);
  }
  .nav-mobile-menu.active-nuv span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
    transition: 500ms;
    background-color: rgba(254, 254, 254, 1);
  }
  .nav-mobile-menu.active-nuv span:last-child {
    transform: scale(0);
    background-color: rgba(254, 254, 254, 1);
  }
}
/* only mobile*/
@media (max-width: 390px) {
  .nav-mobile-menu {
    left: 330px;
  }
}
@media (max-width: 350px) {
  .nav-mobile-menu {
    left: 290px;
  }
}
/* only mobile*/
@media (max-width: 320px) {
  .nav-mobile-menu {
    left: 280px;
  }
}
