.slide_headr {
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  min-width: 1900px;
}
.slide_headr img {
  min-width: 1900px;
  min-height: 550px;
}

@media (max-width: 1916px) {
  .slide_headr {
    min-width: 1700px;
  }
  .slide_headr img {
    min-width: 1700px;
  }
}
@media (max-width: 1740px) {
  .slide_headr {
    min-width: 1600px;
  }
  .slide_headr img {
    min-width: 1600px;
  }
}
@media (max-width: 1640px) {
  .slide_headr {
    min-width: 1500px;
    height: 330px;
  }
  .slide_headr img {
    min-width: 1500px;
    height: 330px;
  }
}
@media (max-width: 1540px) {
  .slide_headr {
    min-width: 1400px;
  }
  .slide_headr img {
    min-width: 1400px;
  }
}
@media (max-width: 1440px) {
  .slide_headr {
    min-width: 1300px;
  }
  .slide_headr img {
    min-width: 1300px;
  }
}
@media (max-width: 1340px) {
  .slide_headr {
    min-width: 1200px;
  }
  .slide_headr img {
    min-width: 1200px;
  }
}
@media (max-width: 1240px) {
  .slide_headr {
    min-width: 1100px;
  }
  .slide_headr img {
    min-width: 1100px;
  }
}
@media (max-width: 1140px) {
  .slide_headr {
    min-width: 1000px;
  }
  .slide_headr img {
    min-width: 1000px;
  }
}
@media (max-width: 1040px) {
  .slide_headr {
    min-width: 900px;
    height: 300px;
  }
  .slide_headr img {
    min-width: 900px;
    height: 300px;
  }
}
@media (max-width: 940px) {
  .slide_headr {
    min-width: 800px;
  }
  .slide_headr img {
    min-width: 800px;
  }
}
@media (max-width: 840px) {
  .slide_headr {
    min-width: 700px;
  }
  .slide_headr img {
    min-width: 700px;
  }
}
@media (max-width: 740px) {
  .slide_headr {
    min-width: 600px;
    height: 180px;
  }
  .slide_headr img {
    min-width: 600px;
    height: 180px;
  }
}
@media (max-width: 640px) {
  .slide_headr {
    min-width: 500px;
  }
  .slide_headr img {
    min-width: 500px;
  }
}
@media (max-width: 540px) {
  .slide_headr {
    min-width: 400px;
  }
  .slide_headr img {
    min-width: 400px;
  }
}
@media (max-width: 440px) {
  .slide_headr {
    min-width: 300px;
    height: 130px;
  }
  .slide_headr img {
    min-width: 300px;
    height: 130px;
  }
}
@media (max-width: 340px) {
  .slide_headr {
    min-width: 200px;
  }
  .slide_headr img {
    min-width: 200px;
  }
}
